<!DOCTYPE html>
<html lang="en">
<head xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Digit Recognition</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div>
	    <span class="badge badge-info">MNIST</span>
            <h1 class="display-3 text-center">DigitRecognizer</h1>
            <p class="p-2">
              <center><p> This is a live demo of a Kaggle <a href="https://www.kaggle.com/c/digit-recognizer" target"_blank">DigitRecognizer</a>
            developed by <a href="https://github.com/ahmetcankaraoglan" target="_blank">Ahmet Can Karaoğlan </a> </p></center>
                    <p></p>
                </center>
            </div>
            </p>
            <hr />
            <p class="d-block text-center text-muted">
              Draw a digit in box below 👇 and press <code>Predict</code> button
            </p>
    
                
                 <div class="col-12" style="text-align: center">
                   <canvas id="canvas" ></canvas>

                        </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12" style="text-align: center">
                        <button class="btn btn-success" href="#" id="predict">Predict</button>
                    <button class="btn btn-primary" href="#" id="clearButton">Clear</button>
                </p>
            </div>
        </div>

        <br>
        <div class="alert alert-info centered" role="alert">
            <h5 id="result">Get your prediction here!</h5>
        </div> 
        
        <footer class="footer">
          <p>Ahmet Can Karaoğlan&#128540;</p>
        </footer> 
    </div> 
                <div class="row">
                    <div class="col-12" style="text-align: center">
                        <h4><span id="prediction"></span></h4>
                    </div>
                </div>
                <form method="post" accept-charset="utf-8" name="imageForm">
                    <input id="send" name="send" type="hidden"/>
                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

        window.addEventListener("load", () => {
    const canvas=document.querySelector("#canvas");
    const ctx=canvas.getContext("2d");

    //Resizing
    canvas.height=300;
    canvas.width=300;

    //variables
    let painting=false;

    function startPosition(e){
        painting=true;
        draw(e);
    }

    function finishedPosition(){
        painting=false;

        ctx.beginPath();

    }


    function draw(e){
        if(!painting) return;
        var rect = canvas.getBoundingClientRect();
          var mouseX = e.clientX - rect.left;
          var mouseY = e.clientY - rect.top;

        ctx.lineWidth=10;
        ctx.lineCap='round';

        ctx.lineTo(mouseX,mouseY);
        ctx.stroke();
        ctx.beginPath();
        ctx.moveTo(mouseX,mouseY);
    }

    $("#clear_canvas").on("click",function clearCanvas(){
        ctx.clearRect(0,0,canvas.width,canvas.height);
        document.getElementById('prediction').innerHTML="";
    })


    //Event Listeners
    canvas.addEventListener('mousedown', startPosition);
    canvas.addEventListener('mouseup', finishedPosition);
    canvas.addEventListener('mousemove', draw);


});

function  send_image(){

        var imageUrl=canvas.toDataURL();
        document.getElementById('send').value=imageUrl;
        var fd=new FormData(document.forms["imageForm"]);
        var xhr= new XMLHttpRequest({mozSystem: true});
        xhr.open('POST','/send_image',true);
        document.getElementById('prediction').innerHTML="Wait! Predicting Digit.....";
        xhr.onreadystatechange = function(){
            if(xhr.readyState == XMLHttpRequest.DONE){
                document.getElementById('prediction').innerHTML="Prediction: "+xhr.responseText;
            }
        };

        xhr.onload= function(){};

        xhr.send(fd);

   }


</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>
